.text-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.svgdiv {
    width: 800px;
    height: 500px;
    overflow: scroll;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(248, 248, 248);
    margin-bottom: 20px;
}
.mapsvg {
    height: 2100px;
}


.align-right text {
    text-anchor: end;
    x: 194px;
}

.node text {
    font-size: 1.0em;
    fill: black;
    dominant-baseline: central;
}
.node rect {
    height: 26px;
    fill: rgb(224, 235, 234);
    stroke: none;
    stroke-width: 1px;
    rx: 2px;
    ry: 2px;
}
.node rect:hover{
    fill: rgb(161, 207, 203);
}

.node.highlight rect {
    fill: rgb(0, 131, 120);
}
.node.highlight text {
    fill: white;
}

.node.subExpanded rect {
    stroke: none;
}
.node.subCollapsed rect {
    stroke: rgb(131, 172, 168);
}

.mapping line {
    stroke: rgb(20, 165, 153);
    stroke-width: 1px;
}

.align-right text {
    text-anchor: end;
    x: 194px;
}

.tilted.node g{
    transform-origin: center left;
    transform: rotate(45);
}